body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f54b;
  color: rgb(31, 28, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  padding-top: 20px;
}

h1 {
  color: rgb(23, 14, 104);
  font-size: 3rem;
  text-align: center;
}

.todo-list-input-wrapper {
  display: flex;
  align-items: center;
}

.todo-list-form {
  box-shadow: 0 5px 12px rgba(151, 150, 150, 0.1);
  max-width: 100%;
  width: 400px;
}

.todo-list-input {
  font-size: 1rem;
  padding: 1rem 2rem;
  display: block;
  border-radius: 16px;
  border: 1px solid gray;
}

.todo-list-input:focus {
  outline-color: rgb(178, 178, 209);
}

.todo-list-button {
  display: inline-block;
  border: 0.1em solid #ffffff;
  color: #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  padding: 1rem 2rem;
  margin-left: 10px;
  min-width: 100px;
  border-radius: 8px;
  opacity: 0.7;
}

.todo-list-button:hover {
  opacity: 1;
}

.todo-list-button.add {
  background-color: green;
}

.todo-list-button.clear {
  background-color: gray;
}

.todo-list-button.delete {
  background-color: red;
  margin-left: auto;
}

.todo-list-button.checkbox {
 height: 30px;
}

.todo-list-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.todos {
  padding: 0;
  margin: 20px 0 0 0;
  list-style-type: none;
}

.todos li {
  border: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 10px 0;
  border-radius: 8px;
  background: #ffffff;
}

.todos li.completed span {
  color: rgb(23, 14, 104);
  text-decoration: line-through;
}
